%header.single-header
  %h1.signup-logo
    = link_to root_path do 
      = image_tag "logo.svg", width: 185
  %nav.signup-bar
    %ol
      %li.signup__user-info.through
        会員情報
        .status.status__first
      %li.signup__tel-num.through
        電話番号入力
        .status.status__progress
      %li.signup__address.through
        お届け先住所入力
        .status.status__progress
      %li.signup__pay.through
        支払い方法
        .status.status__progress
      %li.signup__compleat.active
        完了
        .status.status__last

%main
  .signup
    .signup__body
      %section
        %h2.signup__title
          会員登録完了
        .signup__inner
          .signup__content
            .form-group
              %p.signup__info-text.signup__info-text--black.text-center
                ありがとうございます。
                %br
                会員登録が完了しました。
            .form-group
              = link_to "メルカリをはじめる", root_path, class: "signup__btn block"

= render "/shared/single-footer"

