.product-box
  .product-box__img
    =image_tag "product-img.jpg"
  .product-box__body
    %h3.product-box__name 
      猫も大好きなストーブです。暖かい冬になりますように。
    .product-box__num.clearfix
      .product-box__price
        %p ￥1,000
      .product-box__likes
        = fa_icon "heart-o"
        %span 1
      %p.product-box__tax (税込)


.product-box
  .product-box__img
    =image_tag "product-img.jpg"
  .product-box__body
    %h3.product-box__name 
      猫も大好きなストーブです。暖かい冬になりますように。
    .product-box__num.clearfix
      .product-box__price
        %p ￥1,000
      .product-box__likes
        = fa_icon "heart-o"
        %span 1
      %p.product-box__tax (税込)

.product-box
  .product-box__img
    =image_tag "product-img.jpg"
  .product-box__body
    %h3.product-box__name 
      猫も大好きなストーブです。暖かい冬になりますように。
    .product-box__num.clearfix
      .product-box__price
        %p ￥1,000
      .product-box__likes
        = fa_icon "heart-o"
        %span 1
      %p.product-box__tax (税込)

.product-box
  .product-box__img
    =image_tag "product-img.jpg"
  .product-box__body
    %h3.product-box__name 
      猫も大好きなストーブです。暖かい冬になりますように。
    .product-box__num.clearfix
      .product-box__price
        %p ￥1,000
      .product-box__likes
        = fa_icon "heart-o"
        %span 1
      %p.product-box__tax (税込)
      
