.card-info{
  padding: 64px;
  border-top: 2px solid $background;

  &__content{
    width: 320px;
    margin: 0 auto;
  }

  &__form{
    .input-card{
      box-sizing: border-box;
      width: 100%;
      margin-top: 8px;
      padding: 10px 16px 8px;
      border: 1px solid $gray;
      border-radius: 4px;
      font-size: 16px;
      line-height: 1.5;

      @include form-focus();
    }

    &--question{
      position: relative;
      width: 100%;
      margin: 8px 0 0;

      p{
        color: $blue;
        text-align: right;
      }

      .security-code__description{
        position: absolute;
        top: 28px;
        left: 0;
        right: 0;
        padding: 16px;
        border-radius: 6px;
        background-color: #eee;
        color: $black;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: all ease-out .3s;

        img{
          margin: 8px 0 0;
        }

        &::before{
          display: block;
          content: '';
          position: absolute;
          top: -8px;
          right: 32px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 8px 8px 8px;
          border-color: transparent transparent #eee transparent;
        }
      }

      .active{
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__company{
    margin-top: 8px;

    li{
      display: inline-block;
      margin-left: 8px;

      &:first-child{
        margin: 0;
      }
    }
  }

  &__select{
    margin: 8px 0 0 0;

    &--body{
      display: inline-block;
      position: relative;
      width: 35%;
    }

    i{
      position: absolute;
      right: 0;
      top: 50%;
      padding-right: 16px;
      color: #888;
      font-size: 20px;
      transform: translate(0, -50%);
    }

    span{
      margin: 0 8px;
    }
  }

  &__btn{
    margin: 40px 0 0;

    .card-btn{
      width: 100%;
      border: 1px solid $red;
      background-color: $red;
      color: $white;
      line-height: 48px;
    }
  }
}
