header{
  width: 100%;
  background-color: $white;

  .header__container{
    width: 1020px;
    margin: 0 auto;
    padding-top: 8px
  }
  .header__top{
    display: flex;
    justify-content: space-between;
  }
  .header__logo{
    width: 136px;
    height: 36px;
  }

  .header__search-products{
    position: relative;
  }

  input.search__form{
    box-sizing: border-box;
    width: calc(1020px - (134px + 16px));
    height: 36px;
    padding: 9px 32px 9px 8px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background-color: #fafafa;

    &::placeholder{
      font-size: 16px;
    }
  }

  .search__icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
  }

  .header__nav{
    margin-top: 8px;
    height: 38px;

    nav{
      @include clearfix();

      .nav__left{
        float: left;

        ul{
          display: flex;

          li{
            padding-left: 16px;

            &:first-child{
              padding-left: 0;
            }
          }
          }
        }

      .nav__root {
        color: $black;
        text-decoration: none;
        line-height: 38px;


        &:hover{
          color: $blue;
        }

        }

      }


      .nav__right{
        float: right;

        ul{
          display: flex;

          &.user__login--nav{

            li{
              box-sizing: border-box;
              height: 100%;
             
              a.btn{
                display: block;
                padding: 0 10px;
                border: 1px solid;
                border-radius: 5px;
                color: $white;
                text-decoration: none;
                line-height: 32px;
                text-align: center;

                &--red{
                  border-color: $red;
                  background-color: $red;
                }

                &--blue{
                  margin-left: 10px;
                  border-color: $blue;
                  color: $blue;

                  &:hover{
                    background-color: $blue;
                    color: $white;
                    transition: background-color 0.5s;
                  }
                }
              }
            }
          }

          &.user__mypage-nav{

            li.user__mypage-li{
               padding-left: 16px;

              &:first-child{
                padding-left: 0;
            }

              div{
                display: inline-block;
                vertical-align: top;
                height: 38px;
                line-height: 38px;

                &.user__mypage--avater img{
                  border-radius: 50%;

                }

                &.user__mypage--todo{
                  width: 21px;

                  .check-icon{
                    font-size: 21px; 
                }
              }
            }
          }
        }
      }
    }
  }
}


