.logout-content{
  background-color: $white;
  padding: 64px;
  

  .logout-btn{
    box-sizing: border-box;
    display: block;
    width: 320px;
    height: 48px;
    margin: 0 auto;
    border: 1px solid $red;
    background-color: $red;
    color: $white;
    text-align: center;
    text-decoration: none;
    line-height: 48px;
  }
}