.single-footer{
  &__body{
    box-sizing: border-box;
    width: 456px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0; 
  }

  &__nav{
    ul{
      display: flex;
      justify-content: center;

      li{
        margin-left: 16px;
        font-size: 12px;

        a{
          color: $black;
          text-decoration: none;

          &:hover{
            text-decoration: underline;
            opacity: 0.7;
          }
        }

        &:first-child{
          margin: 0;
        }
      }
    }
  }

  &__logo{
    display: block;
    width: 80px;
    margin : 40px auto 0;
  }

  p{
    margin-top: 8px;
    font-size: 12px;
    text-align: center;

  }
}
